div{
 margin: 0 auto;
}

body {
    background-color: black;
}

#svg{
  background-color: darkseagreen;
  background: radial-gradient(darkseagreen 0%, black 70%);
  width: 500px;
}
.title {
    --interval: 1s;
    display: block;
    text-shadow: 0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
    font-family: Sriracha;
    position: absolute;
    right: 5%;
    top: 45%;
    font-size: 2rem;
    letter-spacing: 5px;
}
.title p{
    margin-bottom: 10px;
}